* {
    font-family: 'Dancing Script',cursive;
}

img{
  box-shadow: 2px 2px #02010a;
}

body{
  background: #02010a;
}

header{

background-color: #5b7989;
border-radius: 10px;
display: flex;
flex-flow: row;
justify-content: space-between;
align-items: center;

}

.titulo{

color: #FFFFFF;
text-shadow: 2px 2px #02010a;

}

#imgCentral{

background-color: #82c3a6;
margin: auto;
display: flex;
justify-content: center;
align-items: center;

}

.imgSecundarias{

background-color: #d5c75f;
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: center;

}

#radiosec1{

border-radius: 1px;
align-self: center;
width: 90%;
height: 80%;
}

#radiosec1:hover{
  transform: rotate(10deg);
  box-shadow: 2px 2px #82c3a6;
  border: 2px;
}

#radiosec2{

border-radius: 1px;
transition: translate 3s;
width: 90%;
height: 80%;
}

#radiosec2:hover{
  transform: translate(20px,-5px);
  box-shadow: 2px 2px #82c3a6;
  border: 2px;
}

.imgSecundarias > a {
  flex-basis: 50%;
  text-align: center;
}

.imgSecundarias > a:nth-child(1){
  transition: rotate 3s;
}

footer{

border-radius: 0px 0px 10px 10px;
background-color: #C6d5c5;

}

.imgpaisaje{
  width: 33%;
}

.imagenes{
  width: 100%;
}

.imagenes1 > .imgpaisaje:nth-child(1){
filter: blur(10px);
}
.imagenes1 > .imgpaisaje:nth-child(even){
filter: grayscale(100%);
}

.imagenes2 > .imgpaisaje:nth-child(odd){
filter: grayscale(100%);
}

.imagenes1 > .imgpaisaje:nth-child(3){
filter: sepia(90%);
}

li{
  list-style: none;
  margin-left: 1%;
  margin-right: 1%;
}

ul{
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}
